html,body {
	width: 100%;     
	height: 100%
}

header {
	position: relative;
	max-width: 100%;
	min-height: 100%;
	background-image: url(images/banner.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: 100% 100%;
	-o-background-size: cover;
	text-align: center;
	color: white;


}

header .intro-text {
	padding-top: 350px;
	padding-bottom: 50px;
}

/*-------------Navbar Css-----------------*/

@font-face { font-family: Alkanz; src: url('Alkanz.ttf'); } 

.opaque-navbar {
	background-color: rgba(0,0,0,0.4);
	/* Transparent = rgba(0,0,0,0.5) / Translucent = (0,0,0,0.5)  */
	border-bottom: 0px;

}

.navbar-toggle {
	background-color: rgba(0,0,0,0.075);
}  
.navbar-inverse .navbar-brand {
	font-size: 35px;
	font-family: Alkanz;
	direction: rtl;
	color: #ffffff;
	padding-top: 22px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	direction: ltr;
	font-family: Alkanz;
	color: #F5DEB3;
	background-color: transparent;
} 


.navbar-inverse .navbar-nav > li > a {
	font-size: 20px;
	font-family: sans-serif;
	color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	font-family: sans-serif;
	color: #F5DEB3;
	background-color: transparent;
}


/*-------------SECTIONS Css-----------------*/

.intro-section {
	height: 100%;
	// padding-top: 150px;
	text-align: center;
	background: #fff;
}

.history-section {
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #fff;
	overflow: auto;
}

.get-started {
	min-height: 100%;
	padding-top: 90px;
	text-align: center;
	background: #AED6F1;
}

.contact-section {
	min-height: 100%;
	padding-top: 200px;
	text-align: center;
	background: #2874A6;
}


.btn {
	bottom: 100px;
	-webkit-border-radius: 34;
	-moz-border-radius: 34;
	border-radius: 34px;
	text-shadow: 0px 0px 18px #ffe3ff;
	-webkit-box-shadow: 0px 0px 0px #fff7ff;
	-moz-box-shadow: 0px 0px 0px #fff7ff;
	box-shadow: 0px 0px 0px #fff7ff;
	font-family: Lucida;
	color: #fff;
	font-size: 15px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 20px 10px 20px;
	border: solid #BBBBBB 2px;
	text-decoration: none;
}
.btn:hover {
	background-color: rgba(0,0,0,0.5);
	font-family: Lucida;
	color: #F5DEB3;
	text-decoration: none;
}


#ntext{
	color: #000000;
}

.main-text
{
	position: absolute;
	top: 50px;
	width: 96.66666666666666%;
	color: #FFF;
}

.col-style{
	border: 5px solid #fff; 
	border-radius: 15px; 
	min-height: 250px;
}

center{
	margin-top:330px;
}

/*-------------TIMELINE Css-----------------*/

.timeline {
	list-style: none;
	padding: 0;
	position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	width: 2px;
	background-color: #f1f1f1;
	left: 40px;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 50px;
	position: relative;
	min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li .timeline-panel {
	width: 100%;
	float: right;
	padding: 0 20px 0 100px;
	position: relative;
	text-align: left;
}
.timeline > li .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline > li .timeline-image {
	left: 0;
	margin-left: 0;
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 100;
	background-color: #fed136;
	color: white;
	border-radius: 100%;
	border: 7px solid #f1f1f1;
	text-align: center;
}
.timeline > li .timeline-image h4 {
	font-size: 10px;
	margin-top: 12px;
	line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	text-align: left;
	padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline > li:last-child {
	margin-bottom: 0;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.timeline:before {
		left: 50%;
	}
	.timeline > li {
		margin-bottom: 100px;
		min-height: 100px;
	}
	.timeline > li .timeline-panel {
		width: 41%;
		float: left;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-image {
		width: 100px;
		height: 100px;
		left: 50%;
		margin-left: -50px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 13px;
		margin-top: 16px;
		line-height: 18px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		text-align: left;
		padding: 0 30px 20px 20px;
	}
}
@media (min-width: 992px) {
	.timeline > li {
		min-height: 150px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline > li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 18px;
		margin-top: 30px;
		line-height: 26px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	}
}
@media (min-width: 1200px) {
	.timeline > li {
		min-height: 170px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline > li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeline > li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	}
}
/*-------------CONTACT Css-----------------*/

#contact{
	padding:10px 0 10px;
}

.contact-text{
	margin:45px auto;
}

.mail-message-area{
	width:100%;
	padding:0 15px;
}

.mail-message{
	width: 100%;
	background:rgba(255,255,255, 0.8) !important;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
	margin:0 auto;
	border-radius: 0;
}

.not-visible-message{
	height:0px;
	opacity: 0;
}

.visible-message{
	height:auto;
	opacity: 1;
	margin:25px auto 0;
}

/* Input Styles */

.form{
	width: 100%;
	padding: 15px;
	background:#f8f8f8;
	border-radius: 10px;
	border:1px solid rgba(0, 0, 0, 0.075);
	margin-bottom:25px;
	color:#727272 !important;
	font-size:13px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.form:hover{
	border:1px solid #8BC3A3;
}

.form:focus{
	color: white;
	outline: none;
	border:1px solid #8BC3A3;
}

.textarea{
	height: 200px;
	max-height: 200px;
	max-width: 100%;
}

input {
	position: relative;
	z-index: 9999;
}

@media (min-width: 768px) {
	header .intro-text {
		padding-top: 400px;
		padding-bottom: 200px;
	}
	.col-style{
		border: 5px solid #fff; 
		border-radius: 15px; 
		min-height: 250px;
	}
}

p.button {
	text-align: center;
}




